
{{#each users}}
    <section class="ui stacked segment">
        <h2 class="ui header">
            {{firstName}}{{lastName}}
        </h2>
        <a href="/assessments/{{id}}" class="ui icon button">
            <i class="icon folder open"></i>
        </a>
        <a href="/trainerdashboard/deleteusers/{{id}}" class="ui icon button">
            <i class="icon trash"></i>
        </a>
    </section>
{{/each}}