
<section class="ui segment">
    <div class="ui four small statistics">
        <div class="ui statistic">
            <div class="value">
                <i class="user icon"> </i>
            </div>
            <div class="label">
                <h3 class="ui header">{{userdata.firstName}}  </h3>
            </div>
        </div>
        <div class="ui statistic">
            <div class="value">
                <i class="heartbeat icon"> </i>
            </div>
            <div class="label">

                <h3 class="ui header"> BMI : {{bmi}}  </h3>

            </div>
        </div>
        <div class="ui statistic">
            <div class="value">
                <i class="doctor icon"></i>
            </div>
            <div class="label">
                <h3> {{bmiCatagory}}</h3>

            </div>
        </div>
        <div class="ui statistic">
            <div class="value">
                {{#if isIdealWeight}}
                    <i class="green dashboard icon"></i>
                <div class="label">
                    <h3> IDEAL </h3>
                </div>
                {{else}}
                    <i class="red dashboard icon"></i>
                <div class="label">
                    <h3> NOT IDEAL </h3>
                </div>
                {{/if}}
            </div>
        </div>
</section>





