<section class="ui segment">
    <div class="ui three small statistics">
        <div class="ui statistic">
            <div class="value">
                <i class="user icon"> </i>
            </div>
            <div class="label">
                <h2 class="ui header">{{firstName}}</h2>
            </div>
        </div>
        <div class="ui statistic">
            <div class="value">
                <i class="heartbeat icon"> </i>
            </div>
            <div class="label">
                <h2 class="ui header"> {{bmi}} </h2>
            </div>
        </div>
        <div class="ui statistic">
            <div class="value">
                <i class="user icon"> </i>
            </div>
            <div class="label">
                <h2 class="ui header">Severly Obese </h2>
            </div>
        </div>
    </div>
</section>

