<nav class="ui menu">
    <header class="ui header item"> <a href="/"> Gym Application</a></header>
    <div class="right menu">
        <a id="trainerdashboard" class="item" href="/trainerdashboard"> Trainers Dashboard  </a>
        <a id="about" class="item" href="/settings"> Settings </a>
        <a id="logout" class="item" href="/logout"> Logout </a>
    </div>
</nav>

<script>
    $("#{{id}}").addClass("active item");
</script>