
<section class="ui segment">
    <div class="ui three small statistics">
        <div class="ui statistic">
            <div class="value">
                <i class="user icon"> </i>
            </div>
            <div class="label">
                <h3 class="ui header">{{user.firstName}}  </h3>
            </div>
        </div>
        <div class="ui statistic">
            <div class="value">
                <i class="heartbeat icon"> </i>
            </div>
            <div class="label">

                <h3 class="ui header"> BMI : {{bmiInfo.bmi}}  </h3>

            </div>
        </div>
        <div class="ui statistic">
            <div class="value">
                <i class="doctor icon"></i>
            </div>
            <div class="label">
              <h3> {{bmiInfo.bmiCatagory}}</h3>

            </div>
        </div>
    </div>
</section>





