{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
<table class="ui table">
    <tbody>
        <tr>

            <td>
                <center>
                <header class="ui header"> BMI Tracker </header>
                <p> Fill in your assessments week by week and track your BMI.
                    Trainers will comment on your progress and encourage your to keep going!</p></center>
            </td>
            <td>
                <img class="ui image" src="https://cdn.glitch.com/c73a7ad1-af7f-4f52-9784-24c45c00d59d%2Fabout.jpg?v=1595533607465" width = "500" height = "500" align = "right">
            </td>
        </tr>
    </tbody>
</table>
</section>